* text=auto
* eol=lf
*.md diff=markdown
*.html diff=html
*.css diff=css
*.js diff=javascript

*.png binary
*.jpg binary
*.jpeg binary
*.svg binary
*.webp binary
*.gif binary
*.ico binary
*.pdf binary
*.mp4 binary
*.webm binary
*.mov binary
*.avi binary
*.mkv binary
*.m4v binary
*.wmv binary
*.flv binary
*.ogv binary
*.mp3 binary
*.wav binary
*.m4a binary
*.aac binary
*.ogg binary
*.oga binary
*.flac binary
*.wma binary
*.zip binary
*.tar binary
*.ttf binary
*.otf binary
*.eot binary
*.woff binary
*.woff2 binary
